<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <h2>Technologies I like</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-fluid" src="../../../../wwwroot/images/portfolio-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-fluid" src="../../../../wwwroot/images/portfolio-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-fluid" src="../../../../wwwroot/images/portfolio-9.jpg">
                            </a>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-fluid" src="../../../../wwwroot/images/portfolio-7.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-fluid" src="../../../../wwwroot/images/portfolio-8.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-fluid" src="../../../../wwwroot/images/portfolio-6.jpg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-fluid" src="../../../../wwwroot/images/portfolio-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-fluid" src="../../../../wwwroot/images/portfolio-4.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-fluid" src="../../../../wwwroot/images/portfolio-5.jpg">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<linkcubby-component></linkcubby-component>
<fitnessmanager-component></fitnessmanager-component>