<section id="contacts" class="contacts bg-primary text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 mx-auto">
                <h2>Contacts</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x text-primary"></i>
                            </span>
                            <a href="https://www.facebook.com/oldrich.kovar.2" style="color:white;">
                                <h4>
                                    <strong>Facebook</strong>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x text-primary"></i>
                            </span>
                            <a href="https://twitter.com/Qwakeree" style="color:white;">
                                <h4>
                                    <strong>Twitter</strong>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x text-primary"></i>
                            </span>
                            <a href="https://www.linkedin.com/in/old%C5%99ich-kov%C3%A1%C5%99-ab1b1a58/" style="color:white;">
                                <h4>
                                    <strong>Linkedin</strong>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x text-primary"></i>
                            </span>
                            <a href="https://github.com/Elixor" style="color:white;">
                                <h4>
                                    <strong>Github</strong>
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
